<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:c="http://www.springframework.org/schema/c"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans.xsd
                        http://www.springframework.org/schema/util 
                        http://www.springframework.org/schema/util/spring-util.xsd">



	<!-- Note:- To avoid ambiguity problem use parameter type, index -->

	<bean name="teacher" class="com.springcore.ConstrucorInjection.CollectionType.Teacher">
		<constructor-arg name="id" type="int" value="1" />
		<constructor-arg name="name" type="String"
			value="Chandan" />
		<constructor-arg name="subject">
			<list>
				<value>English</value>
				<value>Maths</value>
			</list>
		</constructor-arg>
		<constructor-arg name="phone">
			<set value-type="int">
				<value>123456</value>
				<value>456789</value>
			</set>
		</constructor-arg>
		<constructor-arg name="address">
			<map>
				<entry key="City" value="balasore" />
				<entry key="State" value="Odisha" />
			</map>
		</constructor-arg>
	</bean>

</beans>